@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 259 20% 96%; /* #E4E1EB */
    --foreground: 240 10% 3.9%;

    --card: 259 20% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 259 20% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 259 34% 77%; /* #A084CA */
    --primary-foreground: 259 34% 10%;

    --secondary: 320 20% 92%; /* #E2D5DE */
    --secondary-foreground: 320 10% 25%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 320 20% 92%; /* #E2D5DE */
    --accent-foreground: 320 10% 25%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 259 10% 85%;
    --input: 259 10% 90%;
    --ring: 259 34% 77%;

    --radius: 0.5rem;

    --chart-1: 259 40% 70%;
    --chart-2: 320 40% 80%;
    --chart-3: 259 30% 60%;
    --chart-4: 320 30% 70%;
    --chart-5: 259 20% 50%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 259 34% 77%;
    --primary-foreground: 259 34% 15%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 259 34% 77%;

    --chart-1: 259 40% 70%;
    --chart-2: 320 40% 80%;
    --chart-3: 259 30% 60%;
    --chart-4: 320 30% 70%;
    --chart-5: 259 20% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
